<mat-card class="app-project-edit-card" *ngIf="project">
    <mat-card-content>
        <form class="app-project-edit-card-form" [formGroup]="editForm" novalidate>
            <mat-form-field class="app-project-edit-form-field">
                <input matInput placeholder="Name" formControlName="title" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="editForm.controls.title.invalid">
                    Please enter a valid name ({{ projectSpecs.title.minlength }}-{{ projectSpecs.title.maxlength }} characters).
                </mat-error>
            </mat-form-field>
            <app-quill-editor class="app-project-edit-description-editor" [isReadOnly]="false" [showActions]="false" placeholder="Insert description..." [body]="editForm.controls['description']"></app-quill-editor>
            <mat-form-field>
                <mat-label>Visibility</mat-label>
                <select matNativeControl formControlName="visibility" required>
                    <option *ngFor="let value of projectSpecs.visibility.values" [value]="value">{{ value }}</option>
                </select>
            </mat-form-field>
            <mat-error *ngIf="errors.newProject">
                {{errors.newProject}}
            </mat-error>
            <div class="app-project-edit-form-actions">
                <a mat-raised-button color="primary" [disabled]="editForm.invalid" (click)="onEditProject()">Update Project</a>
                <a mat-button (click)="close.emit(null)">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
