<mat-card class="app-project-edit-card" *ngIf="project">
    <mat-card-content>
        <form class="app-project-edit-card-form" [formGroup]="editForm" novalidate>
            <mat-form-field class="app-project-edit-form-field">
                <input matInput placeholder="Name" formControlName="title" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="editForm.controls.title.invalid">
                    Please enter a valid name ({{ projectSpecs.title.minlength }}-{{ projectSpecs.title.maxlength }} characters).
                </mat-error>
            </mat-form-field>
            <app-quill-editor class="app-project-edit-description-editor" [isReadOnly]="false" [showActions]="false" placeholder="Insert description..." [body]="editForm.controls['description']"></app-quill-editor>
            <mat-form-field class="app-form-field app-project-edit-form-field">
                <input matInput placeholder="Picture" formControlName="picture" [errorStateMatcher]="matcher" required>
                <mat-error class="app-error-message" *ngIf="editForm.controls.picture.errors?.https">
                    The URL must start with https://.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.picture.errors?.noTrailingSlash">
                    The URL must not have a trailing slash.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.picture.invalid">
                    Please enter a valid URL.
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="errors.newProject">
                {{errors.newProject}}
            </mat-error>
            <div class="app-project-edit-form-actions">
                <a mat-raised-button color="primary" [disabled]="editForm.invalid" (click)="onEditProject()">Update Project</a>
                <a mat-button (click)="close.emit(null)">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
