<div class="app-primary-header">
    <mat-icon class="app-nav-back-icon" routerLink="/projects">keyboard_arrow_left</mat-icon>
    <h1>Create a New Project</h1>
</div>

<mat-card class="app-project-new-card">
    <mat-card-content>
        <form class="app-project-new-card-form" [formGroup]="newForm" novalidate>
            <mat-form-field class="app-project-new-form-field">
                <input matInput placeholder="Name" formControlName="title" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="newForm.controls.title.invalid">
                    Please enter a valid name ({{ projectSpecs.title.minlength }}-{{ projectSpecs.title.maxlength }} characters).
                </mat-error>
            </mat-form-field>
            <app-quill-editor class="app-project-new-description-editor" [isReadOnly]="false" [showActions]="false" placeholder="Insert description..." [body]="newForm.controls['description']"></app-quill-editor>
            <mat-form-field class="app-form-field app-project-new-form-field">
                <input matInput placeholder="Picture" formControlName="picture" [errorStateMatcher]="matcher" required>
                <mat-error class="app-error-message" *ngIf="newForm.controls.picture.errors?.https">
                    The URL must start with https://.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="newForm.controls.picture.errors?.noTrailingSlash">
                    The URL must not have a trailing slash.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="newForm.controls.picture.invalid">
                    Please enter a valid URL.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Visibility</mat-label>
                <select matNativeControl formControlName="visibility" required>
                    <option *ngFor="let option of projectSpecs.visibility.options" [value]="option.value">{{ option.name }}</option>
                </select>
            </mat-form-field>
            <mat-error *ngIf="errors.newProject">
                {{errors.newProject}}
            </mat-error>
            <div class="app-project-new-form-actions">
                <a mat-raised-button color="primary" [disabled]="newForm.invalid" (click)="!newForm.invalid && createNewProject()">Create New Project</a>
                <a mat-button routerLink="/projects">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
