.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out, fill 0.1s ease-out,
    stroke 0.1s ease-out;
}

.node-icon {
  cursor: pointer;
  font-family: FontAwesome;
  text-anchor: middle;
  alignment-baseline: central;
  fill: white;
}
