@mixin thread-preview-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .app-message {
      .app-message-header {
        background: mat-color($primary, darker-contrast);
        border-color: #cccccc;
      }

      .app-message-body {
        background: mat-color($primary, darker-contrast);
        border-color: #cccccc;
        border-top-color: transparent;
      }
    }

    .app-message-delete-btn-label {
      color: #ce375c;
    }
  }
