.app-thread {
    background-color: #e5e5e5;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    padding: 6px 12px 6px 12px;

    .app-thread-header-avatar {
        padding-right: 10px;
    }

    .app-thread-header-metadata {
        display: flex;
        flex: 0 0 95%; /* Make this column as wide as possible before displaying More Actions */
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-right: 8px;
    }

    .app-thread-header-metadata-line {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
    }

    .app-thread-header-author {
        font-size: 14px;
        font-weight: bold;
        padding-right: 6px;
    }

    .app-thread-header-time {
        font-size: 13px;
    }

    .app-thread-header-actions {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .app-message-header-reply-button {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .app-message-actions-update-btn {
        margin: 10px 0 6px 0;
    }
}
