<!-- thread-preview is displayed within a mat-list-item -->
<div class="app-thread" *ngIf="thread" (click)="showThread()">
    <span matLine class="app-thread-title">{{ thread.title }}</span>
    Created by
    <span class="app-thread-author">
        {{ thread.createdBy.username }}
    </span>
    <span
        class="app-thread-time"
        matTooltip="{{ thread.createdAt | dateAndTime }}"
    >
        {{ thread.createdAt | dateAndTime }}
    </span>

    <!-- <span matLine class="app-thread-title">{{ thread.title }}</span>
    Created by
    <span class="app-thread-author">
        {{ thread.createdBy.username }}
    </span>
    <span
        class="app-thread-time"
        matTooltip="{{ thread.createdAt | dateAndTime }}"
    >
        {{ thread.createdAt | dateAndTime }}
    </span>
    <div class="app-message-header-reply-button">
        <message-reply-button *ngIf="showReplyButton" [message]="message" (click)="showThread()"></message-reply-button>
    </div>
    <div class="app-message-header-actions">
        <a mat-icon-button [matMenuTriggerFor]="moreActionsMenu" matTooltip="More actions" [matTooltipPosition]="tooltipPosition" aria-label="More actions">
            <mat-icon aria-label="Icon of three horizontal dots">more_horiz</mat-icon>
        </a>
        <mat-menu #moreActionsMenu="matMenu" xPosition="before" [overlapTrigger]="false">
            <button *ngIf="canEditMessage" mat-menu-item aria-label="Edit message" (click)="editor.edit()">
                <span>Edit message</span>
            </button>
            <button *ngIf="canDeleteMessage" mat-menu-item aria-label="Delete message" (click)="removeMessage()">
                <span class="app-message-delete-btn-label">Delete message</span>
            </button>
            <message-star-archive-button *ngIf="starred | async" [message]="message"></message-star-archive-button>
        </mat-menu>
    </div> -->
</div>
