<!-- thread-preview is displayed within a mat-list-item -->
<div class="app-thread" *ngIf="thread">
    <div class="app-thread-header-metadata" (click)="showThread()">
            <div class="app-thread-header-metadata-line">
                <span class="app-thread-header-author">{{ thread.title }}</span>
            </div>
            <div class="app-thread-header-metadata-line">
                <span class="app-thread-header-author">{{ thread.createdBy.username }}</span>
                <span class="app-thread-header-time" matTooltip="{{ thread.createdAt | dateAndTime }}" [matTooltipPosition]="tooltipPosition">{{ thread.createdAt | date: 'shortTime' }}</span>
                <span *ngIf="edited" [matTooltip]="thread.updatedAt | date: 'shortTime'" matTooltipPosition="right">(edited)</span>
                <!-- <span>{{ thread._id }}</span> -->
            </div>
    </div>
    <div class="app-thread-header-reply-button">
    </div>
    <div class="app-thread-header-actions">
        <div *ngIf="showThreadActions">
            <a mat-icon-button [matMenuTriggerFor]="moreActionsMenu" matTooltip="More actions" [matTooltipPosition]="tooltipPosition" aria-label="More actions">
                <mat-icon aria-label="Icon of three horizontal dots">more_horiz</mat-icon>
            </a>
            <mat-menu #moreActionsMenu="matMenu" xPosition="before" [overlapTrigger]="false">
                <!-- <button mat-menu-item aria-label="Edit thread" (click)="">
                    <span>Edit thread</span>
                </button> -->
                <button mat-menu-item aria-label="Delete thread" (click)="removeThread()">
                    <span class="app-thread-delete-btn-label">Delete thread</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
