.app-thread {
    // background: #f6f6f6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 8px 12px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;

    .app-thread-metadata {
        height: 48px !important;
    }

    .app-thread-preview-timestamp {
        width: 100px;
    }

    .app-thread-header-avatar {
        padding-right: 10px;
    }

    .app-thread-header-metadata {
        display: flex;
        flex-flow: row nowrap;
        padding-right: 8px;
        justify-content: flex-end;
        align-items: center;
        width: 88px;
    }

    .app-thread-header-metadata-line {
        align-items: flex-end;
    }

    .app-thread-preview-contributor-avatar {
        padding: 0 2.5px;
    }

    .app-thread-header-metadata-contributor {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        width: 95px;
    }

    .app-thread-preview-contributor-list {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
    }

    .app-thread-header-title {
        font-size: 18px;
        font-weight: 500;
        padding-right: 6px;
        justify-content: flex-start;
    }

    .app-thread-header-metadata-title {
        justify-content: flex-start;
        flex-grow: 2;
    }

    .app-thread-header-subtitle {
        color: #232f34;
        font-style: italic;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;

        width: 300px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .app-thread-header-time {
        font-size: 13px;
    }

    .app-thread-header-open-thread {
        display: flex;
        justify-content: flex-end;
    }

    .app-thread-header-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding-right: 4px;
    }
}

