:host {
  display: flex;
}

.entity-container {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  margin: 25px;
}

.entity-container:hover {
  cursor: pointer;
}

.entity-container > picture {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-height: 125px;
  max-height: 125px;

  img {
    display: block;
    max-width: 200px;
    // min-height: 125px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.entity-card-footer {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

.entity-name {
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  box-sizing: content-box;
  height: 60px;
  // max-height: 60px;
  font-weight: 600;
  opacity: 0.95;
  padding-top: 5px;
  padding-bottom: 2px;
  white-space: normal;
  position: relative;
}

.entity-metadata-container {
  display: flex;
  flex-flow: column nowrap;
}

.entity-metadata-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
}

.entity-metadata-row-container > mat-icon {
  margin-right: 10px;
}

.entity-metadata-row-container-date {
  @extend .entity-metadata-row-container;
  margin-bottom: 10px;
}
