{
    "presets": [["@babel/preset-env", {}]],
    // "env": {
    //     "test": {
    //         "plugins": ["istanbul"]
    //     }
    // },
    // "plugins": [
    //     [

    //         "@babel/plugin-transform-runtime", // was "@babel/transform-runtime"
    //         {
    //             "regenerator": true
    //         }
    //     ]
    // ],
    "ignore": ["client/components/socket/primus.js"]
}
