node_modules
public
.angulardoc.json
.tmp
.sass-cache
.idea
client/bower_components
client/app.html
client/components/socket/primus.js
config/development.env
config/production.env
dist
npm-debug.log
coverage
envvars-dev
envvars-prod
envvars-test
config/certs/server.cert
config/certs/server.key
config/certs/mongodb.pem
envvars
mongodb
