node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
client/app.html
dist
/server/config/local.env.js
npm-debug.log
coverage
envvars-dev
envvars-prod
envvars-test
docker-compose.yml
docker-compose.dev.yml
certs
envvars
mongodb
