export NODE_ENV=development
export CLIENT_PORT=443
export PORT=
export DOMAIN=https://localhost
export MONGODB_URI=mongodb://localhost:27017/phccp-dev
export MONGODB_USER=
export MONGODB_PASSWORD=
export MONGODB_SSL=
export MONGODB_SSL_VALIDATE=false
export MONGODB_SSL_CA=
export MONGODB_SSL_KEY=
export MONGODB_SSL_CERT=

# PORTAL
export APP_INIT_ADMIN_EMAIL=thomas.schaffter@sagebase.org
export APP_INIT_ADMIN_PASSWORD=admin

# HTTPS
export HTTPS_KEY=`cat ./certs/server.key`
export HTTPS_CERT=`cat ./certs/server.cert`

# Enabling local authentication
export AUTH_LOCAL='true'

# Enabling Google OAuth 2.0
export OAUTH_GOOGLE_ID=
export OAUTH_GOOGLE_SECRET=

# Enabling Google SAML
export SAML_GOOGLE_ENTRY_POINT=
export SAML_GOOGLE_ISSUER=

# Enabling Microsoft Azure AD OpenID Connect (demo)
export AZUREAD_OPENIDCONNECT_IDENTITY_METADATA=
export AZUREAD_OPENIDCONNECT_CLIENT_ID=
export AZUREAD_OPENIDCONNECT_CLIENT_SECRET=

# Enabling Roche Azure AD
export ROCHE_AZURE_AD_IDENTITY_METADATA=
export ROCHE_AZURE_AD_CLIENT_ID=
export ROCHE_AZURE_AD_CLIENT_SECRET=

# PROVENANCE
export PROV_API_SERVER_URL=http://localhost:8080/rest/v1
