# MONGODB
export MONGO_PORT=27017
export MONGO_INITDB_ROOT_USERNAME=admin
export MONGO_INITDB_ROOT_PASSWORD=password
## Configuring for the portal
export MONGO_INITDB_DATABASE=phccp
export MONGO_USERNAME=app
export MONGO_PASSWORD=app123

# PORTAL
export NODE_ENV=production
export CLIENT_PORT=
export PORT=443
export DOMAIN=https://localhost

## Session secret
export SESSION_SECRET=phccp-secret

## Configuring SSL
export SSL_KEY=`cat ./certs/server.key`
export SSL_CERT=`cat ./certs/server.cert`

## Configuring connection with MongoDB
export MONGODB_PROTOCOL=mongodb
export MONGODB_IP=localhost
export MONGODB_PORT=${MONGO_PORT}
export MONGODB_PATH=/${MONGO_INITDB_DATABASE}
export MONGODB_USER=${MONGO_USERNAME}
export MONGODB_PASSWORD=${MONGO_PASSWORD}
export MONGODB_SSL=true
export MONGODB_SSL_VALIDATE=false  # Set to false when using self-signed certificate
export MONGODB_SSL_CA=  # Content of CA's certificate
export MONGODB_SSL_KEY=`cat ./certs/server.key`  # Content of the key (default: read ./certs/server.key)
export MONGODB_SSL_CERT=`cat ./certs/server.cert`  # Content of the certificate (default: read ./certs/server.cert)

## Initialization (credentials works with local and SSO auth strategies)
export APP_INIT_ADMIN_EMAIL=thomas.schaffter@sagebase.org
export APP_INIT_ADMIN_PASSWORD=admin
export APP_INIT_DB_SEED_NAME=default

## Enabling local authentication
export AUTH_LOCAL=true

## Enabling Google OAuth 2.0
export OAUTH_GOOGLE_ID=
export OAUTH_GOOGLE_SECRET=

## Enabling Google SAML
export SAML_GOOGLE_ENTRY_POINT=
export SAML_GOOGLE_ISSUER=

## Enabling Microsoft Azure AD OpenID Connect (demo)
export AZUREAD_OPENIDCONNECT_IDENTITY_METADATA=
export AZUREAD_OPENIDCONNECT_CLIENT_ID=
export AZUREAD_OPENIDCONNECT_CLIENT_SECRET=

## Enabling Roche Azure AD
export ROCHE_AZURE_AD_IDENTITY_METADATA=
export ROCHE_AZURE_AD_CLIENT_ID=
export ROCHE_AZURE_AD_CLIENT_SECRET=

# NEO4J
export NEO4J_USERNAME=neo4j
export NEO4J_PASSWORD=neo4jpassword

# PROVENANCE
export PROVENANCE_API_SERVER_PROTOCOL=http
export PROVENANCE_API_SERVER_IP=localhost
export PROVENANCE_API_SERVER_PORT=8080
export PROVENANCE_API_SERVER_PATH=/rest/v1
