.app-state-container {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  margin: 25px;
}

.app-state-container:hover {
  cursor: pointer;
}

.app-state-container > picture {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-height: 125px;
  max-height: 125px;

  img {
    display: block;
    max-width: 200px;
    // min-height: 125px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.app-state-metadata-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

