@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

.app-button[mat-button],
.app-button[mat-raised-button] {
  // text-transform: uppercase;
}

.flex-spacer {
  flex-grow: 1;
}

h1,
h2 {
  font-weight: 400;
}

.app-primary-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;

  h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
  }

  .app-nav-back-icon {
    @include mat-icon-size(48px);
    cursor: pointer;
    outline: none;
  }
}

mat-option.navbar-search-result {
  height: 60px;

  > .mat-option-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .navbar-search-result-img-container {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
  }

  .navbar-search-result-img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

div.navbar-search-results {
  margin-top: 1px;
}

.app-footer-angular-logo svg {
  height: 50px;
}

.app-angular-logo svg {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.app-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.app-avatar-small {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

// .user-account-preview-avatar {
//   width: 96px;
//   min-width: 96px;
//   height: 96px;
//   line-height: 96px;
//   margin: 0 0 0 0;
//   border-radius: 50%;
//   font-size: 17px;
//   font-weight: 500;
//   text-align: center;
// }

// .app-github-logo svg {
//   height: 21px;
//   margin: 0 7px 2px 0;
//   vertical-align: middle;
// }
