.app-project-item,
.app-project-item:hover {
  text-decoration: none;
}

.app-project-list-content {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;

  .app-project-list-results {
    display: flex;
    flex-flow: row wrap;
  }

  .app-project-list-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .app-project-list-new-project {
    margin-top: 25px;
    width: 400px;
  }
}
