@import "../../../styles/general";

.app-project-list {
    display: flex;
    flex-flow: row nowrap;
}

.app-project-list-header {
    flex-grow: 1;
    justify-content: space-between;
}

.app-primary-header-title {
    flex-grow: 1;
}

.app-project-list-new-project-btn {
    margin-right: 20px;
}

.app-project-list-new-project-btn-icon {
    @include mat-icon-size(20px);
    padding-right: 5px;
}
