<div class="app-primary-header">
    <h1>Login</h1>
</div>

<div class="app-login-content">
    <div class="app-login-buttons">
        <a *ngIf="(authStrategies | async)?.includes('local')" class="app-login-button" mat-raised-button color="primary" (click)="loginAsAdmin()">Login as ADMIN USER</a>
        <a *ngIf="(authStrategies | async)?.includes('local')" class="app-login-button" mat-raised-button color="primary" (click)="loginAsTestUser()">Login as TEST USER</a>
        <sso-buttons [authStrategies]="authStrategies | async"></sso-buttons>
    </div>
</div>
