:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  // flex-wrap: nowrap;
}

.form-field-full-width {
  width: 100%;
}

.form-password-container {
  display: flex;
  flex-direction: column;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.app-login-button {
  margin: 10px;
}

.login-as-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.login-as-container > button {
  margin: 10px 25px;
}
