<div class="page-content" fxFlexOffset.gt-xs="10" fxFlex.gt-xs="80">
    <mat-card>
        <mat-card-title>
            Login
        </mat-card-title>
        <mat-card-content>
            <form class="form-container" [formGroup]="loginForm" novalidate>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls.email.invalid && !loginForm.controls.email.errors?.unknownEmail">
                        Please enter a valid email.
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.email.errors?.unknownEmail">
                        This email is not registered.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Password" type="password" formControlName="password" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls.password.errors?.required && !loginForm.controls.password.errors?.incorrect">
                        Please enter the password.
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.password.errors?.incorrect">
                        Wrong password. Try again of click Forgot password to reset it.
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="errors.login">
                    {{errors.login}}
                </mat-error>
                <div class="form-button-container">
                    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
                    <button mat-button type="button" (click)="goToPasswordRecovery()">Forgot password?</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <ul>
        <li>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></li>
        <li>Admin account is <code>admin@example.com</code> / <code>admin</code></li>
    </ul>

    <div class="login-as-container">
        <button mat-raised-button color="primary" (click)="loginAs('thomas@test.com')">Login as Thomas</button>
        <button mat-raised-button color="primary" (click)="loginAs('james@test.com')">Login as James</button>
        <button mat-raised-button color="primary" (click)="loginAs('kim@test.com')">Login as Kim</button>
    </div>
</div>
