<div class="app-primary-header">
    <h1>Login</h1>
</div>

<div class="app-login-content">
    <div class="app-login-box">
        <h3>Sign in with one of the following strategies</h3>
        <div class="app-login-buttons">
            <a *ngIf="(authStrategies | async)?.includes('local')" class="app-login-button" mat-raised-button color="warn" (click)="loginAsAdmin()">Login as ADMIN USER</a>
            <a *ngIf="(authStrategies | async)?.includes('local')" class="app-login-button" mat-raised-button color="warn" (click)="loginAsTestUser()">Login as TEST USER</a>
            <sso-buttons [authStrategies]="authStrategies | async"></sso-buttons>
        </div>
        <div class="app-request-questions">
            <a [href]="contactUsUrl" target="_blank">Contact Us</a>
        </div>
    </div>
</div>
