:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app-login-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-login-buttons {
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
}

.app-login-button {
  margin: 10px;
  flex-grow: 1;
}
