.app-message-notification-view-card {
  // margin: 25px;
}

.app-entity-access-notification-view-card-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.app-avatar {
  padding-right: 10px;
}
