<mat-card class="app-entity-access-notification-view-card">
    <mat-card-header>
        <!-- <img mat-card-avatar [src]="fa fa-img" aria-label="Message picture"> -->
        <!-- <mat-card-title>Invite to have access permission to {{entityAccessInvite.entityType}}</mat-card-title> -->
        <!-- <mat-card-subtitle>{{ entityAccessInvite.createdBy.name }} has sent you an invite</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content class="app-entity-access-notification-view-card-content">
        <p>{{entityAccessInvite | json}}</p>
    </mat-card-content>

    <mat-card-actions>
        <a mat-button (click)="acceptAccessInvite()">Accept</a>
        <a mat-button (click)="archive()">Archive</a>
    </mat-card-actions>
</mat-card>