:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.project-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 25px;
  margin: 25px;
}

.project-card > picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 25px;

  img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.project-metadata-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.project-metadata-description {
  margin-top: 30px;
}

.project-metadata-row > mat-icon {
  margin-right: 10px;
}

.project-metadata {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 25px 10px;
}

.project-metadata > h1 {
  margin-top: 0px;
}

// .project-description {
//   padding-top: 20px;
// }

.project-actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 25px 10px;
  margin-left: 30px;
}

.project-actions > button,
a {
  margin-bottom: 10px;
}
