<div class="app-entity-list">
    <div class="app-entity-list-filters">
        <h3>{{ entityName }} Type</h3>
        <radio-button-filter [filters]="entityTypeFilters" [group]="entityTypeFilterGroup"></radio-button-filter>
        <h3>Order by</h3>
        <select-filter [filters]="orderFilters" group="orderedBy"></select-filter>
        <h3>Preview</h3>
        <button-toggle-filter [filters]="previewTypeFilters" group="previewType"></button-toggle-filter>
    </div>

    <div class="app-entity-list-content">
        <search-filter class="app-entity-list-content-search-filter" group="searchTerms"></search-filter>
        <span class="app-entity-list-content-results-count">{{ searchResultCount }} results</span>
        <div class="app-entity-list-content-results">
            <mat-nav-list class="app-entity-list-content-results-array" *ngIf="previewType === 'array'">
                <entity-view *ngFor="let entity of entities" [entity]="entity"></entity-view>
                <!-- mat-list-item -->
            </mat-nav-list>

            <mat-nav-list class="app-entity-list-content-results-list" *ngIf="previewType === 'list'">
                <entity-list-item *ngFor="let entity of entities" [entity]="entity"></entity-list-item>
            </mat-nav-list>
        </div>
    </div>
</div>
