.app-entity-list {
    display: flex;
    flex-flow: row nowrap;
}

.app-entity-list-filters {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 25px;
}

.app-entity-list-content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 20px 50px;
}

.app-entity-list-content-results {
    display: flex;
    flex-flow: row wrap;
}
