.app-insight-item,
.app-insight-item:hover {
  text-decoration: none;
}

.app-insight-list-container {
  display: flex;
  flex-flow: row nowrap;

  .app-insight-list-filters-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    // min-width: 300px;
    margin: 25px;
  }

  .app-insight-list-content-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 20px 50px;

    .app-insight-list-search-filter {
      width: 600px;
    }

    .app-insight-list-results {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

.app-insight-list-result-count {
  margin-bottom: 20px;
}

.app-insight-list-more-results-container {
  display: flex;
  justify-content: center;
}

.app-insight-list-more-results {
  margin-top: 25px;
  width: 400px;
}

.app-insight-list-metadata-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.app-insight-list-metadata-row > mat-icon {
  margin-right: 10px;
}
