// :host {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

.app-insight-list {
  margin: 50px;
  flex-grow: 1;
}

.app-insight-item,
.app-insight-item:hover {
  text-decoration: none;
}

.app-insight-list-content {
  display: flex;
  flex-flow: row nowrap;

  .app-insight-list-results {
    display: flex;
    flex-flow: row wrap;
  }
}
