.app-insight-edit-card {
    display: flex;
    flex-flow: column nowrap;
    margin: 40px;
}

.app-insight-edit-card-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
}

.app-insight-edit-form-field {
    margin-bottom: 10px;
}

.app-insight-edit-description-editor {
    padding-bottom: 25px;
}

.app-insight-edit-form-actions {
    padding-bottom: 8px;
}
