<footer class="app-footer">
    <div class="app-footer-list">
        <div class="app-footer-logo">
            <div class="footer-logo">
<!--                <img class="app-logo" [src]="'assets/images/app-logo.svg'" alt="PHCCP logo">-->
                <span>PHC-IX Collaboration Portal</span>
            </div>
        </div>

        <div class="app-footer-version">
            <span><a [href]="contactUsUrl" target="_blank">Contact Us</a></span>
            <span class="version">Current Version: {{gitVersion}}@{{gitBranch}}</span>
        </div>

        <div class="app-footer-copyright">
            <!-- <span>© 2019</span> -->
            <span>Built in collaboration with Sage Bionetworks</span>
        </div>
    </div>
</footer>
