.app-footer {
  // bottom: 0;
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
  height: 90px;
  box-sizing: border-box;
}

.app-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.app-footer-logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  font-size: 14px;

  a {
    color: white;
    text-decoration: none;
  }
}

.app-logo {
  height: 50px;
}

.app-footer-version {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;

  a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
  }
}

.app-footer-copyright {
  display: flex;
  flex: 1;
  flex-direction: column;
  // min-width: 225px;
  padding: 12px;
  text-align: right;

  a {
    color: white;
    text-decoration: none;
  }
}

.app-footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 12px;
    padding: 0;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 884px) {
  .app-footer-list {
    flex-direction: column;
  }
}
