<footer class="app-footer">
    <div class="app-footer-list">
        <div class="app-footer-logo">
            <div class="footer-logo">
                <img class="app-logo" [src]="'assets/images/app-logo.svg'" alt="PHCCP logo">
                <span>PHC-IX Collaboration Portal</span>
            </div>
        </div>

        <div class="app-footer-version">
            <span class="version">Current Version: {{gitVersion}}@{{gitBranch}}</span>
        </div>

        <div class="app-footer-copyright">
            <a href='http://sagebionetworks.org/' target='_blank'>Built in collaboration with Sage Bionetworks</a>
            <!-- <a href='http://sagebionetworks.org/' target='_blank'>© 2019 Sage Bionetworks</a> -->
        </div>
    </div>
</footer>
