<!-- <div class="app-primary-header">
    <mat-icon class="app-nav-back-icon" (click)="close.emit(null)">keyboard_arrow_left</mat-icon>
    <h1>Create a New Insight</h1>
</div> -->

<mat-card class="app-insight-new-card">
    <mat-card-content>
        <form class="app-insight-new-card-form" [formGroup]="newForm" novalidate>
            <mat-form-field class="app-insight-new-form-field">
                <input matInput placeholder="Name" formControlName="title" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="newForm.controls.title.invalid">
                    Please enter a valid name ({{ insightSpecs.title.minlength }}-{{ insightSpecs.title.maxlength }} characters).
                </mat-error>
            </mat-form-field>
            <app-quill-editor class="app-insight-new-description-editor" [isReadOnly]="false" [showActions]="false" placeholder="Insert description..." [body]="newForm.controls['description']"></app-quill-editor>
            <mat-form-field>
                <mat-label>Type</mat-label>
                <select matNativeControl formControlName="insightType" required>
                    <option *ngFor="let value of insightSpecs.type.values" [value]="value">{{ value }}</option>
                </select>
            </mat-form-field>

            <entity-attachments *ngIf="project" [entityId]="project._id" (updateAttachments)="updateAttachments($event)"></entity-attachments>

            <mat-error *ngIf="errors.newInsight">
                {{errors.newInsight}}
            </mat-error>
            <div class="app-insight-new-form-actions">
                <a mat-raised-button color="primary" [disabled]="newForm.invalid" (click)="!newForm.invalid && createNewInsight()">Create New Insight</a>
                <a mat-button (click)="close.emit(null)">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
