.app-danger-zone-option {
    display: flex;
    flex-flow: row nowrap;
}

.app-danger-zone-option-metadata {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.app-danger-zone-option-metadata-title {
    font-weight: bold;
}
