<div *ngIf="thread">
    <div class="app-primary-header app-message-thread-header">
        <h1 class="app-message-thread-header-title">Thread</h1>
        <a class="app-message-thread-header-close" mat-icon-button matTooltip="Close" aria-label="Close the thread" (click)="close()">
            <mat-icon aria-label="Icon of cross">close</mat-icon>
        </a>
    </div>

    <div class="app-message-thread-body">
        <h2>{{ thread.title }}</h2>
    </div>
    <div class="app-message-thread-body" *ngIf="message">
        <message-date-separator class="message-date-separator" [isoDate]="message.createdAt"></message-date-separator>
        <ng-template *ngIf="messages" ngFor let-reply let-i="index" let-first="first" [ngForOf]="messages">
            <message-date-separator *ngIf="first && !(reply.createdAt | sameDay: message.createdAt)" class="message-date-separator" [isoDate]="reply.createdAt"></message-date-separator>
            <message-date-separator *ngIf="!first && !(reply.createdAt | sameDay: (messages)[i-1].createdAt)" class="message-date-separator" [isoDate]="reply.createdAt"></message-date-separator>
            <message [message]="reply" [showReplyButton]="false" [showStartThreadButton]="false"></message>
        </ng-template>
        <message-new class="app-messaging-new" [message]="message"></message-new>
    </div>
</div>
