.app-project-insight-new-card {
    display: flex;
    flex-flow: column nowrap;
    margin: 40px;
}

.app-project-insight-new-card-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
}

.app-project-insight-new-form-field {
    margin-bottom: 10px;
}

.app-project-insight-new-form-actions {
    margin-top: 20px;
}
