<div class="app-primary-header">
    <h1>Resources</h1>
</div>

<div class="app-resource-list-container">
    <div class="app-resource-list-filters-container">
        <h3>Resource Type</h3>
        <radio-button-filter [filters]="resourceTypeFilters" group="resourceType"></radio-button-filter>
    </div>

    <div class="app-resource-list-content-container">
        <div class="app-resource-list-results">
            <ng-template ngFor let-resource let-i="index" let-first="first" [ngForOf]="resources">
                <dashboard-view *ngIf="resource.resourceType === 'Dashboard'" [dashboard]="resource"></dashboard-view>
                <state-view *ngIf="resource.resourceType === 'State'" [state]="resource"></state-view>
                <webapp-view *ngIf="resource.resourceType === 'WebApp'" [webapp]="resource"></webapp-view>
                <article-view *ngIf="resource.resourceType === 'Article'" [article]="resource"></article-view>
            </ng-template>
        </div>
    </div>
</div>
