<mat-card class="app-entity-notification-view-card">
    <mat-card-header>
        <!-- <img mat-card-avatar [src]="fa fa-img" aria-label="Message picture"> -->
        <mat-card-title>Entity Invite</mat-card-title>
        <mat-card-subtitle>{{ entityInvite.createdBy.name }} has sent you an invite</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="app-entity-notification-view-card-content">
        <p>{{entityInvite | json }}</p>
    </mat-card-content>

    <mat-card-actions>
        <a mat-button (click)="AcceptInvite()">Accept</a>
        <a mat-button (click)="archive()">Archive</a>
    </mat-card-actions>
</mat-card>