@import './dataset-list/dataset-list-theme';

@mixin dataset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include dataset-list-theme($theme);
}
