@import '~@angular/material/theming';
@import './account/account-theme';
@import './admin/admin-theme';
@import './dataset/dataset-theme';
@import './project/project-theme';
@import './main/main-theme';
@import '~components/footer/footer-theme';
@import '~components/messaging/messaging-theme';
@import '~components/navbar/navbar-theme';
@import '~components/quill/app-quill-theme';
@import '~components/activity/activity-sidenav/activity-sidenav-theme';

// Styles for the app that are based on the current theme.
@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    // .app-background {
    //   background: mat-color($background, background);
    // }

    .app-primary-header {
        background: mat-color($accent);

        h1 {
            color: mat-color($primary, default-contrast);
        }

        .app-nav-back-icon {
            color: mat-color($primary, default-contrast);
        }

        .app-primary-header-link {
            text-decoration: none;
        }
    }

    // TODO What is the purpose of this class?
    .app-button-landing {
        background-color: mat-color($warn);
    }

    .app-footer {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }

    .app-button-landing {
        background-color: mat-color($warn);
    }

    .app-footer {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }

    // app
    @include account-theme($theme);
    @include admin-theme($theme);
    @include dataset-theme($theme);
    @include project-theme($theme);
    @include main-theme($theme);
    // components
    @include app-quill-theme($theme);
    @include footer-theme($theme);
    @include messaging-theme($theme);
    @include navbar-theme($theme);
    @include activity-sidenav-theme($theme);
}
