@import "~@angular/material/theming";
@import "./app-theme";
@import "../styles/general";
@import "../styles/constants";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Include material core styles.
@include mat-core();

// Define the light theme (default theme)
$primary: mat-palette($mat-blue-grey, 900);
$accent: mat-palette($mat-blue-grey, 700);
$warn: mat-palette($mat-amber, 600);
$background: mat-palette($mat-amber);
$foreground: mat-palette($mat-deep-orange);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include app-theme($theme);

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[hidden] {
  display: none !important;
}

app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  // app-sidenav {
  //   display: flex;
  //   flex: 1;
  //   width: 250px;
  // }

  .app-sidenav-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .app-sidenav-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: $navbar-height;
  }

  .content {
    flex: 1;
  }

  .app-sidenav-secondary {
    display: flex;
    flex: 1;
    width: 500px;
    margin-top: $navbar-height;
    // z-index: 1 !important;
  }

  @media (max-width: $small-breakpoint-width) {
    .app-sidenav-content {
      padding-top: $navbar-height-sm;
    }

    app-footer {
      display: none;
    }
  }

  // .app-sidenav-content {
  //   overflow-y: scroll;
  // }
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

// @media (max-width: 720px) {
//   .app-sidenav-content {
//     overflow-y: visible; // the entire content is made visible without scroll
//   }
// }
