@import '~quill/dist/quill.core';
@import '~quill/dist/quill.bubble';
@import '~quill/dist/quill.snow';
@import '~quill-emoji/dist/quill-emoji.css';  // .css required
@import '~quill-mention/dist/quill.mention.min';
@import '~highlight.js/styles/github';
@import '~katex/dist/katex.min.css';

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #f6f8fa;
  color: #6a737d;
  overflow: visible;
}
