@import "./project-list/project-list-theme";
@import "./project-page/project-page-theme";

@mixin project-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include project-list-theme($theme);
  @include project-page-theme($theme);
}
