:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-project-sidenav-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  // height: 100%;
}

.app-project-sidenav-content {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}




.app-project-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.app-project-card {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
  margin: 25px;
}

.app-project-card-box {
  // padding: 25px;
  // margin: 25px;
}

.app-project-card-box-top {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.app-project-picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  // padding-top: 25px;
  padding-right: 25px;

  img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.app-project-metadata {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 25px 10px;
}
