.app-share-button {
    margin: 0 5px;

    .mat-button-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
    }

    user-avatar {
        margin-right: 6px;
    }
}

.app-share-button-label {
    font-size: 13px;
}
