:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.data-catalog-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.data-catalog-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 25px;
  margin: 25px;
}

.data-catalog-card > picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 25px;

  img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.data-catalog-metadata-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.data-catalog-metadata-description {
  margin-top: 30px;
}

.data-catalog-metadata-row > mat-icon {
  margin-right: 10px;
}

.data-catalog-metadata {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 25px 10px;
}

.data-catalog-metadata > h1 {
  margin-top: 0px;
}

:host ::ng-deep .app-share-button {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;

  .mat-button-wrapper {
    display: block;
  }
}

.app-data-catalog-button-actions {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
}

.app-data-catalog-button-actions > button, a {
    margin-bottom: 10px;
  }

.app-data-catalog-icon-actions {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 30px;
    justify-content: flex-end;
}
