<div *ngIf="!showEditProjectTemplate && project | async; let project_; else showEditProjectForm">
    <!-- <div class="app-primary-header">
        <mat-icon class="app-nav-back-icon" routerLink="/projects">keyboard_arrow_left</mat-icon>
        <h1>{{ project.name }}</h1>
    </div> -->

    <div class="app-project-content">
        <mat-card class="app-project-card">
            <div class="app-project-card-box app-project-card-box-top">
                <picture class="app-project-picture">
                    <img [src]="project_.picture" aria-label="Project picture">
                </picture>
                <div class="app-project-metadata">
                    <h1>{{ project_.title }}</h1>
                    <!-- <div class="tool-metadata-row">
                      <mat-icon>home</mat-icon>
                      <span>{{ tool.organization.name }}</span>
                  </div> -->
                </div>
            </div>

            <div class="app-project-card-box">
                <h2>Description</h2>
                <app-quill-editor [isReadOnly]="true" [showActions]="false" [body]="form.controls['description']"></app-quill-editor>
            </div>

            <div class="project-actions">
                <a *ngIf="userProjectPermission.canAdmin" mat-raised-button color="secondary" (click)="showEditProjectTemplate=true">Edit</a>
                <a *ngIf="userProjectPermission.canAdmin" mat-raised-button color="warn" (click)="deleteProject()">Delete</a>
            </div>
        </mat-card>
    </div>
</div>

<ng-template #showEditProjectForm>
    <project-edit *ngIf="project | async; let project_" [project]="project_" (editProject)="onEditProject($event)" (close)="showEditProjectTemplate=false"></project-edit>
</ng-template>
