<div *ngIf="tool && !showEditToolTemplate; else showEditToolForm">
    <div class="app-primary-header">
        <mat-icon class="app-nav-back-icon" routerLink="/tools">keyboard_arrow_left</mat-icon>
        <h1>{{ tool.name }}</h1>
    </div>

    <div class="tool-content">
        <mat-card class="tool-card">
            <div class="tool-card-top">
                <div class="tool-card-left-container">
                    <div class="tool-card-prov-graph-actions">
                        <show-activity-button [root]="tool" (click)="showActivity()"></show-activity-button>
                    </div>
                    <h3>{{ tool.name }}</h3>
                    <picture>
                        <img [src]="tool.picture" aria-label="Tool picture">
                    </picture>

                    <div class="tool-metadata">
                        <div class="tool-metadata-row">
                            <mat-icon>home</mat-icon>
                            <span>{{ tool.organization.name }}</span>
                        </div>
                        <div *ngIf="toolHealth" class="data-catalog-metadata-row">
                            <mat-icon>storage</mat-icon>
                            <span>This tool is available.</span>
                        </div>
                        <div *ngIf="!toolHealth" class="tool-metadata-row">
                            <mat-icon>cloud_off</mat-icon>
                            <span>This tool can not be reached.</span>
                        </div>
                        <div class="tool-metadata-description">
                            <span>{{ tool.description }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tool-actions">
                <a mat-raised-button color="primary" [href]="tool.website" target="_blank">Open Tool</a>
                <a mat-raised-button color="primary" [routerLink]="'/discussion'">Discuss</a>
                <a *ngIf="canEditTool" mat-raised-button color="secondary" (click)="showEditToolTemplate=true">Edit</a>
                <a *ngIf="canDeleteTool" mat-raised-button color="warn" (click)="displayConfirmationDialog()">Delete</a>
            </div>
        </mat-card>
    </div>
</div>

<ng-template #showEditToolForm>
        <tool-edit *ngIf="tool" [tool]="tool" (editTool)="onEditTool($event)" (close)="showEditToolTemplate=false"></tool-edit>
</ng-template>
