<div *ngIf="tool">
    <div class="app-primary-header">
        <mat-icon class="app-nav-back-icon" routerLink="/tools">keyboard_arrow_left</mat-icon>
        <h1>{{ tool.name }}</h1>
    </div>

    <div class="tool-content">
        <mat-card class="tool-card">
            <picture>
                <img [src]="tool.picture" aria-label="Data tool preview">
            </picture>
            <div class="tool-metadata">
                <h1>{{tool.name}}</h1>
                <div class="tool-metadata-row">
                    <mat-icon>home</mat-icon>
                    <span>{{tool.organization.name}}</span>
                </div>
                <div *ngIf="toolHealth && toolHealth.version" class="data-catalog-metadata-row">
                    <mat-icon>storage</mat-icon>
                    <span>Version {{toolHealth.version}}</span>
                </div>
                <div *ngIf="!toolHealth.version" class="tool-metadata-row">
                    <mat-icon>cloud_off</mat-icon>
                    <span>This tool can not be reached.</span>
                </div>
                <div class="tool-metadata-description">
                    <span>{{tool.description}}</span>
                </div>
            </div>
            <div class="tool-actions">
                <a mat-raised-button color="primary" [href]="tool.website" target="_blank">Open Tool</a>
                <a mat-raised-button color="secondary" *ngIf="(permissions | async).canEditTool()">Edit Tool</a>
            </div>
        </mat-card>
        <a mat-raised-button (click)="deleteTool()" color="warn" *ngIf="(permissions | async).canDeleteTool()">Delete Tool</a>
    </div>
</div>
