
.entity-list-container {
  display: flex;
  flex-flow: row nowrap;

  .entity-list-filters-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    // min-width: 300px;
    margin: 25px;
  }

  .entity-list-content-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 20px 50px;

    .entity-list-search-filter {
      width: 600px;
    }

    .entity-list-results {
      display: flex;
      flex-flow: row wrap;
    }

    .entity-list-actions {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .entity-list-new-project {
      margin-top: 25px;
      width: 400px;
    }
  }
}