<mat-card *ngIf="entity" class="app-entity-list-card" (click)="onEntityClick()">
    <picture class="app-entity-list-card-picture">
        <img [src]="entity.picture" aria-label="Entity picture" />
    </picture>
    <div class="app-entity-list-card-metadata">
        <h3 class="app-entity-list-card-metadata-title">{{ entity.title }}</h3>
        <div class="app-entity-list-card-metadata-author">
            <mat-icon>person_outline</mat-icon>
            <span>{{ entity.createdBy.name }}</span>
        </div>
        <div class="app-entity-list-card-metadata-item">
            <mat-icon>access_time</mat-icon>
            <span>{{ entity.createdAt | date }}</span>
        </div>
    </div>
</mat-card>
