.app-entity-list-card {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    margin: 25px;

    &:hover {
        cursor: pointer;
    }
}

.app-entity-list-card-picture {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    // max-width: 125px;
    min-height: 150px;
    max-height: 150px;

    img {
        display: block;
        max-width: 150px;
        width: auto;
        height: auto;
        align-self: center;
    }
}

.app-entity-list-card-metadata {
    display: flex;
    flex-flow: column nowrap;
}

.app-entity-list-card-metadata-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-word;

    mat-icon {
        margin-right: 10px;
    }
}

.app-entity-list-card-metadata-title {
    font-size: 1em;
}

.app-entity-list-card-metadata-author {
    @extend .app-entity-list-card-metadata-item;
    margin-bottom: 10px;
}
