<nav class="app-navbar-header">
    <div class="app-navbar-show-small">
        <p>show-small</p>
    </div>

    <div class="app-navbar-hide-small">
        <a mat-button class="app-button" routerLink="/" aria-label="PHCCP">
<!--            <img class="app-logo" [src]="'assets/images/app-logo.svg'" alt="PHCCP logo">-->
            <span>PHCCP</span>
        </a>
        <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/insights" aria-label="Insights">Insights</a>
        <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/projects" aria-label="Projects">Projects</a>
        <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/datasets" aria-label="Datasets">Datasets</a>
        <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/data-catalogs" aria-label="Data Catalogs">Data Catalogs</a>
        <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/tools" aria-label="Tools">Tools</a>
        <!-- <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/states" aria-label="Discussion">States</a> -->
        <a *ngIf="isLoggedIn" mat-button class="app-button" routerLink="/discussion" aria-label="Discussion">Discussion</a>
        <a *ngIf="isAdmin" mat-button class="app-button" routerLink="/admin" aria-label="Admin">Admin</a>
        <!-- <div class="flex-spacer"></div> -->
        <div class="app-navbar-item-container-right">
            <a mat-button class="app-button" *ngIf="!isLoggedIn" routerLink="/login" aria-label="Login">Login</a>
            <navbar-user-button class="app-button" *ngIf="isLoggedIn"></navbar-user-button>
        </div>
    </div>
</nav>
