<mat-card class="app-user-notification-view-card">
    <!-- <mat-card-header>
        <img mat-card-avatar [src]="invite.project.picture" aria-label="Project picture">
        <mat-card-title>{{ invite.project.title }}</mat-card-title>
        <mat-card-subtitle>{{ invite.invite.createdBy.name }} has invited you to collaborate</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="app-user-notification-view-card-content">
        <p>Add project short description</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button (click)="acceptAndRedirect()">Accept and Go</a>
        <a mat-button (click)="accept()">Accept</a>
        <a mat-button (click)="decline()">Decline</a>
    </mat-card-actions> -->

    <mat-card-header *ngIf="isMessageNotificationType">
        <!-- <img mat-card-avatar [src]="invite.project.picture" aria-label="Project picture"> -->
        <mat-card-title>Message Notification</mat-card-title>
        <mat-card-subtitle>{{ notification.createdBy.name }} has sent you a Message
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-header *ngIf="!isMessageNotificationType">
        <!-- <img mat-card-avatar [src]="invite.project.picture" aria-label="Project picture"> -->
        <mat-card-title>{{ notification.entity.title }}</mat-card-title>
        <mat-card-subtitle>{{ notification.createdBy.name }} has invited {{ notification.notificationType }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="app-user-notification-view-card-content">
        <p>Add project short description</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isEntityAccessNotificationType">
        <a mat-button (click)="acceptAndRedirect()">Accept and Go</a>
        <a mat-button (click)="accept()">Accept</a>
        <a mat-button (click)="decline()">Decline</a>
    </mat-card-actions>
    <mat-card-actions *ngIf="isEntityNotificationType">
        <a mat-button (click)="acceptAndRedirect()">Go to {{ entity.entityType }}</a>
        <a mat-button (click)="discard()">Discard</a>
    </mat-card-actions>
    <mat-card-actions *ngIf="isMessageNotificationType">
        <a mat-button (click)="readMessage()">Read now</a>
        <a mat-button (click)="decline()">Discard</a>
    </mat-card-actions>
</mat-card>