.app-post-list-content {
  display: flex;
  flex-flow: column nowrap;
  margin: 30px 40px;

  // .app-data-catalog-list-results {
  //   display: flex;
  //   flex-flow: row wrap;
  // }
}


// .app-tool-item,
// .app-tool-item:hover {
//   text-decoration: none;
// }
//
// .app-tool-list-content {
//   display: flex;
//   flex-flow: row nowrap;
//   margin: 20px;
//
//   .app-tool-list-results {
//     display: flex;
//     flex-flow: row wrap;
//   }
// }
