@import 'components/provenance/provenance-graph/provenance-graph.scss';

@mixin activity-sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-activity-header-close {
      color: map-get($primary, default-contrast);
  }

}
