<div>
    <div class="app-primary-header app-activity-header">
        <h1 class="app-activity-header-title">Recent Activity</h1>
        <a class="app-activity-header-close" mat-icon-button matTooltip="Close" aria-label="Close" (click)="close()">
            <mat-icon aria-label="Icon of cross">close</mat-icon>
        </a>
    </div>

    <div *ngIf="root" class="app-activity-body">
        <div class="app-activity-info">
            <b>Activities for</b>
            <span><em>{{ root.title }}</em></span>
        </div>
        <div *ngIf="!root.username" class="app-activity-filters-container">
            <b>Direction</b>
            <radio-button-filter [filters]="activityDirectionFilters" group="activityDirection"></radio-button-filter>
        </div>
        <div class="app-activity-graph-container" (resized)="onResized($event)">
            <provenance-graph class="provenance-graph" [graphData]="provenanceGraphData" [rootId]="root._id"></provenance-graph>
        </div>

    </div>
</div>
