<div>
    <div class="app-primary-header app-activity-header">
        <h1 class="app-activity-header-title">Recent Activity</h1>
        <a class="app-activity-header-close" mat-icon-button matTooltip="Close" aria-label="Close" (click)="close()">
            <mat-icon aria-label="Icon of cross">close</mat-icon>
        </a>
    </div>

    <div class="app-activity-body">

        <h4>Activities for {{ root._id }}:</h4>
        <div *ngIf="!root.username" class="app-activity-filters-container">
            <b>Direction</b>
            <radio-button-filter [filters]="activityDirectionFilters" group="activityDirection"></radio-button-filter>
        </div>
        <div class="app-activity-graph-container">
            <provenance-graph class="provenance-graph" [graphData]="provenanceGraph" [rootId]="root._id"></provenance-graph>
            <pre>{{ provenanceGraph | json }}</pre>
        </div>

    </div>
</div>
