<div class="app-primary-header app-activity-header">
    <h1 class="app-activity-header-title">Recent Activity</h1>
    <a class="app-activity-header-close" mat-icon-button matTooltip="Close" aria-label="Close" (click)="close()">
        <mat-icon aria-label="Icon of cross">close</mat-icon>
    </a>
</div>

<div *ngIf="root$ | async as root" class="activities-graph-container">
    <div class="app-activity-info">
        <b>Activities for</b>
        <span class="app-activity-info-title">{{ root.title }}</span>
    </div>
    <div *ngIf="!root.username" class="app-activity-filters-container">
        <b>Direction</b>
        <radio-button-filter [filters]="activityDirectionFilters" group="activityDirection"></radio-button-filter>
    </div>
    <div class="activities-graph-content-container">
        <div class="activities-graph-results" (resized)="onResized($event)">
            <provenance-graph
                class="provenance-graph"
                [graphData]="provenanceGraphData"
                [rootId]="root._id"
            ></provenance-graph>
        </div>
    </div>
</div>
