// The margin between two sections
$margin-promotion-sections: 60px;
$margin-promotion-sections-small: 15px;

// :host {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

.provenance-graph {
    position: relative;
    height: 300; // Current acceptance criteria allows for height to be defined and for the width to be responsive
}

.app-main-fair-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.app-fair-box {
    width: 550px;
    margin: 50px 5px;
    text-align: left;

    > img {
        width: 88%;
        height: 88%;
    }
}

.app-main-fair-description {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

  > h2 {
    margin-bottom: 10px;
  }
}

.app-main-connecting-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  // flex-grow: 1;

  > h2 {
    margin-bottom: 5px;
  }

  .app-main-connecting-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    > img {
      width: 300px;
      height: 200px;
      padding: 20px;
    }
  }
}

.app-header-background {
  overflow: hidden;
}

.app-header-section {
  text-align: left;
  padding-top: $margin-promotion-sections;
  padding-left: 100px;
}

.app-header-headline {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  //padding-top: 5px;
  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 45px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 0.25em;

  }
  h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 25px 0 -30px 0;
    width: 400px;
  }
}

.app-main-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}

.app-main-row {
  display: flex;
    align-items: flex-start;
  max-width: 920px;
  margin: $margin-promotion-sections 0;
}

.app-main-row .app-svg-image {
  max-width: 90%;
}

// .docs-main-reverse-row {
//   flex-direction: row-reverse;
// }

.app-header-start,
.app-main-bottom-start {
  text-align: left;
  margin: $margin-promotion-sections 0;
}

.app-header-logos {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-left: 15px;
    color: #ffffff;
}

// .docs-main-promo-img,
// .docs-main-promo-desc {
//   width: 50%;
// }
//
// .docs-main-promo-img {
//   text-align: center;
// }
//
// .docs-main-promo-desc {
//   line-height: 2;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.app-logo {
  width: 100px;
  height: 100px;
}

/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {
  .app-header-section {
    padding-top: $margin-promotion-sections-small;
  }

  .app-header-start,
  .app-main-bottom-start {
    margin: $margin-promotion-sections-small 0;
  }

  .app-main-row {
    margin: $margin-promotion-sections-small 0;
  }
}
