<div *ngIf="insight">
    <div class="insight-content">
        <mat-card class="insight-card">
            <div class="insight-card-top">
                <div class="insight-card-left-container">
                    <div class="insight-card-prov-graph-actions">
                        <show-activity-button [root]="insight" (click)="showActivity()"></show-activity-button>
                        <share-button [entity]="insight" [entityType]="entityType"></share-button>
                    </div>
                    <h3>{{ insight.insightType }} Content</h3>
                    <form [formGroup]="form" novalidate>
                        <app-quill-editor [isReadOnly]="true" saveButtonLabel="Save description"
                            placeholder="Insert text here..." [body]="form.controls['description']"
                            (onSave)="updateDescription()"></app-quill-editor>
                        <mat-error *ngIf="form.controls.description.errors?.jsonStringifyMaxLength">
                            This message must be smaller than
                            {{ form.controls.description.errors.jsonStringifyMaxLength.limit / (2 * 1024) | number: '1.0-0' }}
                            KB (value:
                            {{ (form.controls.description.errors.jsonStringifyMaxLength.value * 2) / 1024 | number: '1.0-0' }}
                            KB)
                        </mat-error>
                        <mat-error *ngIf="errors.updateDescription">
                            {{ errors.updateDescription }}
                        </mat-error>
                    </form>
                    <div class="insight-card-info">
                        <span><b>Created by:</b> {{ insight.createdBy.name }}</span>
                        <span *ngIf="insight.data === undefined"><b>Type:</b> Report</span>
                        <span *ngIf="insight.data !== undefined"><b>Type:</b> Memo</span>
                        <!-- WIP Display attachment(s) if applicable -->
                    </div>
                </div>
            </div>
            <div class="app-insight-actions">
                <!-- <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Discuss</a> -->
                <a mat-raised-button routerLink="..">Go Back</a>
                <!-- <a mat-raised-button color="primary" [routerLink]="'/discussion'">Discuss</a> -->
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Create
                    New Insight</a>
            </div>
        </mat-card>
    </div>
</div>