<div *ngIf="insight">
    <mat-card *ngIf="!showInsightEditTemplate; else showInsightEditForm" class="app-insight">
        <mat-card-header class="app-insight-header">
            <mat-card-title class="app-insight-title">{{ insight.title }}</mat-card-title>
            <mat-card-subtitle
                >{{ insight.insightType }} created by {{ insight.createdBy.name }} on
                {{ insight.createdAt | dateAndTime }}</mat-card-subtitle
            >
            <div class="app-insight-actions">
                <share-button [entity]="insight" [entityType]="entityType"></share-button>
                <show-activity-button [root]="insight"></show-activity-button>
                <a
                    mat-icon-button
                    [matMenuTriggerFor]="moreActionsMenu"
                    matTooltip="More actions"
                    aria-label="More actions"
                >
                    <mat-icon aria-label="Icon of three horizontal dots">more_horiz</mat-icon>
                </a>
                <mat-menu #moreActionsMenu="matMenu" [overlapTrigger]="false">
                    <button
                        ngxClipboard
                        [cbContent]="getLink()"
                        (cbOnSuccess)="notificationService.info('Link copied')"
                        (cbOnError)="notificationService.info('Unable to copy the link.')"
                        mat-menu-item
                        aria-label="Copy link"
                    >
                        <span>Copy Link</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button
                        mat-menu-item
                        [attr.aria-label]="'Edit ' + insight.insightType"
                        (click)="showInsightEditTemplate = true"
                    >
                        <span>Edit {{ insight.insightType }}</span>
                    </button>
                    <button
                        mat-menu-item
                        [attr.aria-label]="'Delete ' + insight.insightType"
                        (click)="deleteInsight(insight)"
                        disabled
                    >
                        <span class="app-insight-actions-delete-btn-label">Delete {{ insight.insightType }}</span>
                    </button>
                </mat-menu>
            </div>
        </mat-card-header>

        <mat-card-content class="app-insight-content">
            <app-quill-editor
                [isReadOnly]="true"
                [showActions]="false"
                [body]="form.controls['description']"
            ></app-quill-editor>

            <entity-attachment-list [entity]="insight" [entityService]="insightService"></entity-attachment-list>

            <!-- <entity-attachments
                [mode]="mode"
                [attachments]="insight.attachments"
                (updateAttachments)="updateAttachments($event)"
            ></entity-attachments> -->
        </mat-card-content>
    </mat-card>

    <ng-template #showInsightEditForm>
        <insight-edit
            [insight]="insight"
            (insightEdit)="onInsightEdit($event)"
            (cancel)="showInsightEditTemplate = false"
        ></insight-edit>
    </ng-template>
</div>
