.app-insight {
    margin: 25px;
}

.app-insight-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.app-insight-title {
    padding-top: 8px;
    padding-bottom: 8px;
}

.app-insight-content {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 16px;
}

.app-insight-actions {
    display: flex;
    flex-flow: row nowrap;
}

.app-insight-action-btn {
    margin-right: 10px;
}

.mat-card-header-text {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}
