@import './message/message-theme';
@import './message-new/message-new-theme';
@import './thread-list/thread-list-theme';
@import './message-date-separator/message-date-separator-theme';
@import './thread-sidenav/thread-sidenav-theme';

@mixin messaging-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include message-theme($theme);
  @include message-new-theme($theme);
  @include thread-list-theme($theme);
  @include message-date-separator-theme($theme);
  @include thread-sidenav-theme($theme);
}
