@mixin message-new-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // TODO: Why does this not work?
  // .app-message-new-editor {
  //   background-color: mat-color($primary, darker-contrast);
  //   // border-color: #cccccc;
  // }
}
