<form [formGroup]="form" novalidate>
    <!-- (keydown.enter)="$event.stopPropagation()" -->
    <quill-editor #editor [style.display]="hide ? 'none' : 'block'" format="object" [formControl]="form.controls['body']">
        <div quill-editor-toolbar class="app-quill-editor-toolbar"></div>
    </quill-editor>
    <mat-error *ngIf="form.controls.body.errors?.jsonStringifyMaxLength">
        This message must be smaller than {{ form.controls.body.errors.jsonStringifyMaxLength.limit / (2*1024) | number:'1.0-0' }} KB (value: {{ form.controls.body.errors.jsonStringifyMaxLength.value * 2 / 1024 | number:'1.0-0' }} KB)
    </mat-error>
    <mat-error *ngIf="errors.createNewMessage">
        {{ errors.createNewMessage }}
    </mat-error>


    <!-- {{ form.get('body').value | json }} -->

    <div class="app-message-new-actions">
        <a class="app-message-new-push-button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="form.invalid || addMessage()">Push</a>
    </div>
</form>
