<div [formGroup]="attachmentForm" class='app-entity-attachments'>
    <p>Entity attachments for ID {{ entityId }}</p>
    <!-- WIP Display attachment(s) -->
    <mat-list>
        <mat-list-item *ngFor="let attachment of attachments; index as i">
            <h3 mat-line>{{ attachment.attachmentName }}</h3>
            <p mat-line>
                <span>
                    {{ attachment.attachmentType }}
                </span>
            </p>
            <button mat-icon-button (click)="removeAttachment(i)">
                <mat-icon class="mat-24">delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>

    <div *ngIf="showEntityAttachmentForm === true">
        <mat-form-field>
            <mat-label>Attachment Type</mat-label>
            <select matNativeControl formControlName="attachmentType" (change)="updateNewAttachmentType($event.target.value)">
                <option *ngFor="let attachment of entityAttachmentTypes" [value]="attachment.type">{{ attachment.type }}</option>
            </select>
        </mat-form-field>
        <mat-form-field *ngIf="newAttachment" >
            <mat-label>Attachment Name</mat-label>
            <input matInput formControlName="attachmentName">
        </mat-form-field>
        <button (click)="update()">Add attachment</button>
    </div>
    <div class="app-insight-new-form-actions">
        <a *ngIf="showEntityAttachmentForm === false" mat-raised-button color="secondary" (click)="showEntityAttachmentForm = true">Add an attachment</a>
    </div>
</div>
