<div [formGroup]="attachmentForm" class='app-entity-attachments'>
    <b>Attachments:</b>
    <mat-list>
        <mat-list-item *ngFor="let attachment of insights; index as i">
            <h3 mat-line>{{ attachment.name }}</h3>
            <p mat-line>
                <span>
                    {{ attachment.entityType }}
                </span>
            </p>
            <button *ngIf="!isReadOnly" mat-icon-button (click)="removeInsightAttachment(i)">
                <mat-icon aria-label="Icon of cross">close</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item *ngFor="let attachment of resources; index as j">
            <h3 mat-line>{{ attachment.name }}</h3>
            <p mat-line>
                <span>
                    {{ attachment.entityType }}
                </span>
            </p>
            <button *ngIf="!isReadOnly" mat-icon-button (click)="removeResourceAttachment(j)">
                <mat-icon aria-label="Icon of cross">close</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>

    <div *ngIf="showEntityAttachmentForm">
        <mat-form-field>
            <mat-label>Attachment Type</mat-label>
            <mat-select formControlName="attachmentType" (selectionChange)="updateNewAttachmentType($event)" placeholder="Attachment Type">
                <mat-optgroup *ngFor="let group of entityAttachmentTypes" [label]="group.name">
                    <mat-option *ngFor="let option of group.options" [value]="option.type">
                        {{ option.type }}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="newInsightAttachment || newResourceAttachment" >
            <mat-label>Select an Attachment</mat-label>
            <mat-select formControlName="attachmentId" (selectionChange)="update($event)" placeholder="">
                <mat-option *ngFor="let option of options" [value]="option._id">
                    {{ option.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="secondary" (click)="update()">Save</button>
    </div>

    <div class="app-insight-new-form-actions">
        <a *ngIf="!showEntityAttachmentForm && !isReadOnly" mat-raised-button color="secondary" (click)="showEntityAttachmentForm = true">Add an attachment</a>
    </div>
</div>
