<div [formGroup]="attachmentForm" class='app-entity-attachments'>
    <p>Entity attachments for ID {{ entityId }}</p>
    <!-- WIP Display attachment(s) -->
    <div *ngIf="showEntityAttachmentForm === true">
        <mat-form-field>
            <mat-label>Attachment Type</mat-label>
            <select matNativeControl formControlName="attachmentType" (change)="updateNewAttachmentType($event.target.value)">
                <option *ngFor="let attachment of entityAttachmentTypes" [value]="attachment.type">{{ attachment.type }}</option>
            </select>
        </mat-form-field>
        <button (click)="update()">Add attachment</button>
    </div>
    <div class="app-insight-new-form-actions">
        <a *ngIf="showEntityAttachmentForm === false" mat-raised-button color="secondary" (click)="showEntityAttachmentForm = true">Add an attachment</a>
    </div>
</div>
