.app-entity-attachments {
    display: flex;
    flex-flow: column nowrap;

    .ng-star-inserted {
        display: flex;
        flex-flow: column nowrap;
    }

    .app-insight-new-form-actions {
        padding-top: 8px;
    }
}
