<div *ngIf="insight">
    <div class="app-primary-header">
        <mat-icon class="app-nav-back-icon" routerLink="/insights">keyboard_arrow_left</mat-icon>
        <h1>{{ insight.title }}</h1>
    </div>

    <div class="insight-content">
        <mat-card class="insight-card">
            <div class="insight-card-top">
                <div class="insight-card-left-container">
                    <h3>Description</h3>
                    <form [formGroup]="form" novalidate>
                        <app-quill-editor [isReadOnly]="true" saveButtonLabel="Save description" placeholder="Insert text here..." [body]="form.controls['description']" (onSave)="updateDescription()"></app-quill-editor>
                        <mat-error *ngIf="form.controls.description.errors?.jsonStringifyMaxLength">
                            This message must be smaller than {{ form.controls.description.errors.jsonStringifyMaxLength.limit / (2*1024) | number:'1.0-0' }} KB (value:
                            {{ form.controls.description.errors.jsonStringifyMaxLength.value * 2 / 1024 | number:'1.0-0' }} KB)
                        </mat-error>
                        <mat-error *ngIf="errors.updateDescription">
                            {{ errors.updateDescription }}
                        </mat-error>
                    </form>

                    <div class="insight-card-info">
                        <span><b>Created by:</b> Thomas</span>
                        <span *ngIf="insight.data === undefined"><b>Type:</b> Report</span>
                        <span *ngIf="insight.data !== undefined"><b>Type:</b> State</span>
                        <span><b>Tool:</b> FE Lite</span>
                    </div>
                </div>
                <div class="insight-card-right-container">
                    <h3>Recent Activity</h3>
                    <div class="insight-card-prov-graph-panel">
                        <img src="assets/images/insight-prov-graph-placeholder.png">
                    </div>
                    <div class="insight-card-prov-graph-actions">
                        <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">View Full Provenance</a>
                    </div>
                </div>
            </div>
            <div class="app-insight-actions">
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')" (click)="openInFe(insight)">Open With PHCCP Shiny Tool Example</a>
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Discuss</a>
                <a *ngIf="insight.data !== undefined" mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Create Report</a>
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Share</a>
            </div>
        </mat-card>
    </div>
</div>
