<div *ngIf="insight">
    <div class="app-primary-header">
        <mat-icon class="app-nav-back-icon" routerLink="/insights">keyboard_arrow_left</mat-icon>
        <h1>{{insight.name}}</h1>
    </div>

    <div class="insight-content">
        <mat-card class="insight-card">
            <div class="insight-card-top">
                <div class="insight-card-left-container">
                    <h3>Description</h3>
                    <div class="insight-card-description" Markdown>
                        {{insight.description}}
                    </div>
                    <div class="insight-card-description-edit-button-container">
                      <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Edit Description</a>
                    </div>
                    <div class="insight-card-info">
                        <span><b>Created by:</b> Ryan</span>
                        <span *ngIf="insight.data === undefined"><b>Type:</b> Report</span>
                        <span *ngIf="insight.data !== undefined"><b>Type:</b> State</span>
                        <span><b>Tool:</b> FE Lite</span>
                    </div>
                </div>
                <div class="insight-card-right-container">
                    <h3>Recent Activity</h3>
                    <div class="insight-card-prov-graph-panel">
                        <img src="assets/images/insight-prov-graph-placeholder.png">
                    </div>
                    <div class="insight-card-prov-graph-actions">
                        <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">View Full Provenance</a>
                    </div>
                </div>
            </div>
            <div class="app-insight-actions">
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Open With FE Lite</a>
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Discuss</a>
                <a *ngIf="insight.data !== undefined" mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Create Report</a>
                <a mat-raised-button color="primary" (click)="notificationService.info('Not yet implemented')">Share</a>
            </div>
        </mat-card>
    </div>
</div>
