:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.insight-container {
  display: flex;
  flex-flow: row; // nowrap;
  align-items: center;
  padding: 25px;
  margin: 25px;
}

.insight-container > picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 25px;

  img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.insight-metadata-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 25px 10px;
}

.insight-metadata-container > h1 {
  margin-top: 0px;
}

.insight-description {
  padding-top: 20px;
}

.insight-actions-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 25px 10px;
}

.insight-actions-container > button,
a {
  margin-bottom: 10px;
}
