@mixin insight-activity-sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-insight-activity-header {
    // background: mat-color($primary);
    background: #9d9d9d;
  }

  .app-insight-activity-header-close {
    color: mat-color($primary, default-contrast);
  }
}
