// :host {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

.dataset-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.dataset-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 25px;
  margin: 25px;
}

.dataset-card > picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 25px;

  img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

.dataset-metadata-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.dataset-metadata-description {
  margin-top: 30px;
}

.dataset-metadata-row > mat-icon {
  margin-right: 10px;
}

.dataset-metadata {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 25px 10px;
}

.dataset-metadata > h1 {
  margin-top: 0px;
}

// .dataset-description {
//   padding-top: 20px;
// }

.dataset-actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 25px 10px;
  margin-left: 30px;
}

.dataset-actions > button,
a {
  margin-bottom: 10px;
}

.app-dataset-resources-card {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
  margin: 25px;

  .app-dataset-resources-card {
    // flex-grow: 1;
  }

  .app-dataset-resource-open-with-button {
    width: 120px;
  }

  // > div {
  //   display: flex;
  //   flex-flow: column nowrap;
  //   flex-grow: 1;
  // }

  // .app-dataset-resources-list-item {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   align-items: center;
  //
  //   .app-dataset-resources-list-item-formats {
  //     // flex-grow: 1;
  //   }
  // }
}
