@mixin message-date-separator-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .date {
    color: #333333;
  }

  .dash {
    border-color: #cccccc;
  }
}
