.app-resource {
    margin: 25px;
}

.app-resource-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.app-resource-title {
    padding-top: 8px;
    padding-bottom: 8px;
}

.app-resource-content {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 8px;
}

.app-resource-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.app-resource-action-btn {
    margin-right: 10px;
}

.mat-card-header-text {
    margin: 0px !important;
}

.app-resource-action-section {
    display: flex;
    flex-flow: column wrap;
}

.app-resource-extra-actions {
    display: flex;
    flex-flow: column nowrap;

}

.app-resource-extra-actions > a {
    margin-bottom: 10px;
}

.app-resource-left-container {
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
}
