<mat-card *ngIf="resource" class="resource-container" [routerLink]="[resource._id]">
    <picture>
        <img src="assets/images/320px-resource_logo.png" aria-label="Resource logo">
    </picture>
    <div class="resource-metadata-container">
        <h3 class="resource-name">{{resource.name}}</h3>
        <div class="resource-card-footer">
            <div class="resource-metadata-row-container">
                <span>Thomas</span>
            </div>
            <mat-chip-list>
                <mat-chip *ngIf="resource.data" selectable="false" color="primary" selected>State</mat-chip>
                <mat-chip *ngIf="!resource.data" selectable="false" color="accent" selected>Report</mat-chip>
            </mat-chip-list>
        </div>
    </div>
</mat-card>
