<svg
    *ngIf="nodes.length > 0 else noActivitiesMessage"
    #svg
    [attr.width]="_options.width"
    [attr.height]="_options.height"
>
    <g [zoomableOf]="svg">
        <g [provenanceLink]="link" *ngFor="let link of links"></g>
        <ng-container *ngFor="let node of nodes">
            <g *ngIf="node.label==='Activity'" activityNode [node]="node" [draggableNode]="node" [draggableInGraph]="graph" />
            <g *ngIf="node.label==='Reference'" referenceNode [node]="node" [draggableNode]="node" [draggableInGraph]="graph" />
            <g *ngIf="node.label==='Agent'" agentNode [node]="node" [draggableNode]="node" [draggableInGraph]="graph" />
        </ng-container>
    </g>
</svg>
<ng-template #noActivitiesMessage>
    No Activities found
</ng-template>