<div class="app-message" *ngIf="message">
    <div class="app-message-header">
        <div class="app-message-header-avatar">
            <picture *ngIf="message.createdBy.picture; else letterAvatar">
                <img class="app-avatar-small" [src]="message.createdBy.picture" aria-label="User picture">
            </picture>
            <ng-template #letterAvatar>
                <avatar size="40" background="#e87629" [name]="message.createdBy.username" displayType="circle"></avatar>
            </ng-template>
        </div>
        <div class="app-message-header-metadata">
            <span>{{ message.createdBy.username }}</span>
            <span>{{ message.createdAt | date: 'shortTime' }}</span>
            <span *ngIf="edited" [matTooltip]="message.updatedAt | date: 'shortTime'" matTooltipPosition="right">(edited)</span>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of message.tags">{{ tag.name }}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="app-message-header-actions">
            <a mat-icon-button matTooltip="Start a thread" [matTooltipPosition]="tooltipPosition" aria-label="Start a thread" (click)="replyToMessage()">
                <mat-icon aria-label="Icon of a chat bubble outline">chat_bubble_outline</mat-icon>
            </a>
            <a *ngIf="!message.starred" mat-icon-button matTooltip="Star message" [matTooltipPosition]="tooltipPosition" aria-label="Star message" (click)="starMessage()">
                <mat-icon aria-label="Icon of a star outline">star_outline</mat-icon>
            </a>
            <a *ngIf="message.starred" mat-icon-button matTooltip="Unstar message" [matTooltipPosition]="tooltipPosition" aria-label="Unstare message" (click)="unstarMessage()">
                <mat-icon aria-label="Icon of a plain star">star</mat-icon>
            </a>
            <a mat-icon-button [matMenuTriggerFor]="moreActionsMenu" matTooltip="More actions" [matTooltipPosition]="tooltipPosition" aria-label="More actions">
                <mat-icon aria-label="Icon of three horizontal dots">more_horiz</mat-icon>
            </a>
            <mat-menu #moreActionsMenu="matMenu" xPosition="before" [overlapTrigger]="false">
                <button mat-menu-item aria-label="Edit message" (click)="isReadOnly = false">
                    <span>Edit message</span>
                </button>
                <button mat-menu-item aria-label="Delete message" (click)="removeMessage()">
                    <span class="app-message-delete-btn-label">Delete message</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <form [formGroup]="form" class="app-message-body">
        <quill-editor class="app-message-ql-editor" #editor [readOnly]="isReadOnly" format="object" (keydown.enter)="$event.stopPropagation()" [formControl]="form.controls['body']">
            <div [hidden]="isReadOnly" quill-editor-toolbar class="app-quill-editor-toolbar"></div>
        </quill-editor>
        <div class="app-message-actions">
            <a mat-raised-button [hidden]="isReadOnly" color="primary" [disabled]="form.invalid" (click)="updateMessage()">Update</a>
        </div>
    </form>
</div>
