<div class="page-container" fxFlexOffset.gt-xs="10" fxFlex.gt-xs="80">
    <mat-card>
        <mat-card-title>
            Sign up
        </mat-card-title>
        <mat-card-content>
            <form class="form-container" [formGroup]="userRegistrationForm" novalidate>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Name" type="text" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="userRegistrationForm.controls.name.invalid">
                        A name between 2 and 128 characters is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="userRegistrationForm.controls.email.errors?.email">
                        Please enter a valid email.
                    </mat-error>
                    <mat-error *ngIf="userRegistrationForm.controls.email.errors?.serverError">
                        {{errors.email}}
                    </mat-error>
                </mat-form-field>
                <div formGroupName="passwordGroup" class="form-password-container">
                    <mat-form-field class="form-field-full-width">
                        <input matInput placeholder="Password" type="password" formControlName="password" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="userRegistrationForm.controls.passwordGroup.controls.password.errors?.required">
                            A password is required.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field-full-width">
                        <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="userRegistrationForm.controls.passwordGroup.controls.confirmPassword.errors?.required">
                            A password is required.
                        </mat-error>
                        <mat-error *ngIf="userRegistrationForm.controls.passwordGroup.controls.confirmPassword.errors?.matchPassword">
                            Passwords don't match.
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-error *ngIf="errors.other">
                    ERROR: {{errors.other}}
                </mat-error>
                <div class="form-button-container">
                    <button mat-raised-button color="primary" [disabled]="userRegistrationForm.invalid" (click)="register()">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
