.project-activities-container {
  .activities-graph-container {
      .activities-graph-filters-container {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 0;
        flex-shrink: 0;
        // min-width: 300px;
        margin: 25px;
      }
      .activities-graph-content-container {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        margin: 20px 50px;

        .activities-graph-results {
            display: flex;
            flex-flow: column nowrap;
            flex-grow: 0;
            flex-shrink: 0;
            margin: 0 auto;
        }
      }
  }
  .project-activities-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
