.app-report-container {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  margin: 25px;
}

.app-report-container:hover {
  cursor: pointer;
}

.app-report-container > picture {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-height: 125px;
  max-height: 125px;

  img {
    display: block;
    max-width: 200px;
    // min-height: 125px;
    width: auto;
    height: auto;
    align-self: center;
  }
}

// .app-report-card-footer {
//   display: flex;
//   flex-direction: row nowrap;
//   justify-content: space-between;
// }

.app-report-title {
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  box-sizing: content-box;
  // height: 60px;
  // max-height: 60px;
  font-weight: 600;
  opacity: 0.95;
  padding-top: 5px;
  padding-bottom: 2px;
  white-space: normal;
  position: relative;
  min-height: 60px;
  max-height: 60px;
}

.app-report-metadata-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

// .app-report-metadata-row-container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .app-report-metadata-row-container > mat-icon {
//   margin-right: 10px;
// }

// .app-report-metadata-row-container-date {
//   @extend .app-report-metadata-row-container;
//   margin-bottom: 10px;
// }
