<div>
    <div class="app-primary-header app-provenance-node-info-header">
        <h1 class="app-provenance-node-info-header-title">Node details</h1>
        <!-- <a class="app-provenance-node-info-header-close" mat-icon-button matTooltip="Close" aria-label="Close this panel" (click)="close.emit(null)">
            <mat-icon aria-label="Icon of cross">close</mat-icon>
        </a> -->
    </div>

    <div class="app-provenance-node-info-body">
        <p>Id: {{ contentDetails && contentDetails.id }}</p>
        <p>Label: {{ contentDetails && contentDetails.labels }}</p>
        <p>Name: {{ contentDetails && contentDetails.properties.name }}</p>
        <p>Class: {{ contentDetails && contentDetails.properties._class }}</p>
        <p>Subclass: {{ contentDetails && contentDetails.properties.subclass }}</p>
    </div>
</div>
