<div class="app-primary-header">
    <mat-icon class="app-nav-back-icon" (click)="close.emit(null)">keyboard_arrow_left</mat-icon>
    <h1>Edit Data Catalog</h1>
</div>

<mat-card class="app-data-catalog-edit-card" *ngIf="dataCatalog">
    <mat-card-content>
        <form class="app-data-catalog-edit-card-form" [formGroup]="editForm" novalidate>
            <mat-form-field class="app-data-catalog-edit-form-field">
                <input matInput placeholder="Name" formControlName="title" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="editForm.controls.title.invalid">
                    Please enter a valid name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="app-data-catalog-edit-form-field">
                <input matInput placeholder="Description" formControlName="description" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="editForm.controls.description.invalid">
                    Please enter a valid description.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="app-form-field app-data-catalog-edit-form-field">
                <input matInput placeholder="Picture" formControlName="picture" [errorStateMatcher]="matcher" required>
                <mat-error class="app-error-message" *ngIf="editForm.controls.picture.errors?.https">
                    The URL must start with https://.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.picture.errors?.noTrailingSlash">
                    The URL must not have a trailing slash.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.picture.invalid">
                    Please enter a valid URL.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Visibility</mat-label>
                <select matNativeControl formControlName="visibility" required>
                    <option *ngFor="let option of dataCatalogSpecs.visibility.options" [value]="option.value">{{ option.name }}</option>
                </select>
            </mat-form-field>
            <mat-form-field class="app-form-field app-data-catalog-edit-form-field">
                <input matInput placeholder="API Health Check URL" formControlName="apiHealthCheckUrl" [errorStateMatcher]="matcher" required>
                <mat-error class="app-error-message" *ngIf="editForm.controls.apiHealthCheckUrl.errors?.https">
                    The URL must start with https://.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.apiHealthCheckUrl.errors?.noTrailingSlash">
                    The URL must not have a trailing slash.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.apiHealthCheckUrl.invalid">
                    Please enter a valid URL for the API health check.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="app-form-field app-data-catalog-edit-form-field">
                <input matInput placeholder="Website" formControlName="website" [errorStateMatcher]="matcher" required>
                <mat-error class="app-error-message" *ngIf="editForm.controls.website.errors?.http">
                    The URL must start with http:// or https://.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.website.errors?.noTrailingSlash">
                    The URL must not have a trailing slash.
                </mat-error>
                <mat-error class="app-error-message" *ngIf="editForm.controls.website.invalid">
                    Please enter a valid URL for the website.
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="errors.editTool">
                {{ errors.editTool }}
            </mat-error>
            <div class="app-data-catalog-edit-form-actions">
                <a mat-raised-button color="primary" [disabled]="editForm.invalid" (click)="!editForm.invalid && onEditDataCatalog()">Update Data Catalog</a>
                <a mat-button (click)="close.emit(null)">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
