// :host {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
// }

// .app-dataset-list {
//   margin: 50px;
//   flex-grow: 1;
// }

.app-dataset-item,
.app-dataset-item:hover {
  text-decoration: none;
}

.app-dataset-list-container {
  display: flex;
  flex-flow: row nowrap;

  .app-dataset-list-filters-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    // min-width: 300px;
    margin: 25px;
  }

  .app-dataset-list-content-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    margin-left: 50px;

    .app-dataset-list-search-filter {
      width: 600px;
    }

    .app-dataset-list-results {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
