<h3 class="app-entity-attachment-header">Attachments</h3>

<mat-progress-spinner
    *ngIf="attachmentsDownloadProgress > 0 && attachmentsDownloadProgress < 100; else showAttachments"
    [value]="attachmentsDownloadProgress"
></mat-progress-spinner>

<ng-template #showAttachments>
    <span *ngIf="(attachments | async).length < 1 && isReadOnly; else showAttachmentList"
        >There are 0 attachments.</span
    >
    <ng-template #showAttachmentList>
        <mat-nav-list>
            <mat-list-item
                class="app-entity-attachment-bundle"
                *ngFor="let attachment of attachments | async"
                [routerLink]="getEntityLink(attachment.entity, attachment.attachment.entityType)"
            >
                <img matListAvatar [src]="attachment.entity.picture" aria-label="Entity picture" />
                <h3 class="app-entity-attachment-bundle-title" matLine>{{ attachment.entity.title }}</h3>
                <h3 class="app-entity-attachment-bundle-entity-type" matLine>
                    {{ getEntityTypeAndSubType(attachment) }}
                </h3>
                <button
                    *ngIf="!isReadOnly"
                    mat-icon-button
                    (click)="removeAttachment($event, attachment)"
                    [matTooltip]="'Remove ' + getEntityTypeAndSubType(attachment)"
                    matTooltipPosition="before"
                >
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </ng-template>
</ng-template>

<form *ngIf="!isReadOnly" class="app-entity-attachment-form" [formGroup]="attachmentForm">
    <mat-form-field class="app-entity-attachment-form-attachment-type">
        <mat-label>Type</mat-label>
        <mat-select formControlName="attachmentType" required>
            <mat-option *ngFor="let option of attachmentTypes" [value]="option.value">{{ option.title }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="app-entity-attachment-form-attachment">
        <input
            matInput
            placeholder="Attachment"
            formControlName="attachment"
            [errorStateMatcher]="matcher"
            [matAutocomplete]="auto"
            [readonly]="disabled"
        />
        <mat-autocomplete #auto="matAutocomplete" flex>
            <mat-option
                *ngFor="let attachment of attachmentSearchResults"
                [value]="attachment.entity.title"
                (click)="addAttachment(attachment)"
            >
                <div class="app-entity-attachment-option">
                    <img
                        [ngStyle]="getAttachmentPictureStyle()"
                        [src]="attachment.entity.picture"
                        aria-label="Entity picture"
                    />
                    <div class="app-entity-attachment-option-text">
                        <span class="app-entity-attachment-option-text-title">{{ attachment.entity.title }}</span>
                        <span class="app-entity-attachment-option-text-type">
                            {{ getEntityTypeAndSubType(attachment) }}
                        </span>
                    </div>
                </div>
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="attachmentForm.controls.attachment.invalid">
            Please enter a valid attachment.
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="errors.attachmentForm">
        {{ errors.attachmentForm }}
    </mat-error>
</form>
