<h3>Attachments</h3>
<span *ngIf="(attachments | async).length < 1">There are 0 attachments.</span>
<mat-progress-spinner
    *ngIf="attachmentsDownloadProgress < 100; else showAttachments"
    [value]="attachmentsDownloadProgress"
></mat-progress-spinner>
<ng-template #showAttachments>
    <mat-nav-list>
        <mat-list-item
            *ngFor="let attachment of attachments | async"
            class="app-entity-attachment-bundle"
            (click)="navigateToEntity(attachment.entity, attachment.attachment.entityType)"
        >
            <img matListAvatar [src]="attachment.entity.picture" aria-label="Entity picture" />
            <h3 class="app-entity-attachment-bundle-title" matLine>{{ attachment.entity.title }}</h3>
            <h3 class="app-entity-attachment-bundle-entity-type"matLine>{{ attachment.attachment.entityType }}</h3>
            <!-- <button mat-icon-button (click)="showInfo(link)">
                        <mat-icon>info</mat-icon>
                    </button> -->
        </mat-list-item>
    </mat-nav-list>
</ng-template>
