<!-- <mat-card *ngIf="insight" class="insight-container" [routerLink]="[insight._id]"> -->
<mat-card class="insight-container">
  <picture>
      <img src="assets/images/320px-insight_logo.png" aria-label="Insight logo">
  </picture>
  <div class="insight-metadata-container">
      <h3 class="insight-name">{{entity.title}}</h3>
      <!-- <div class="insight-metadata-row-container-date">
          <mat-icon>access_time</mat-icon>
          <span>{{insight.createdAt | date}}</span>
      </div> -->
  </div>
</mat-card>

