.app-user-notification-sidenav-header {
  padding-left: 10px;
}

.app-user-notification-sidenav-header-title {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
}

.app-user-notification-sidenav-header-close {
  margin: 0 10px 0 0;
}

.empty-message {
  text-align: center;
  margin-top: 50px;
}

.app-user-notification-sidenav-cards {
  display: flex;
  flex-flow: column nowrap;
}

.app-user-notification-view {
  margin: 25px;
}
