<div class="app-primary-header app-user-notification-sidenav-header">
    <h1 class="app-user-notification-sidenav-header-title">Notifications</h1><a
        class="app-user-notification-sidenav-header-close" mat-icon-button matTooltip="Close"
        aria-label="Hide the notifications" (click)="close()">
        <mat-icon aria-label="Icon of cross">close</mat-icon>
    </a>
</div>

<span *ngIf="_messagesNotifications && _messagesNotifications.length === 0
&& _entityNotifications && _entityNotifications.length === 0
&& _entityAccessNotifications && _entityAccessNotifications.length === 0
">Your Notification list is empty.</span>

<div class="app-user-notification-sidenav-cards">
    <ng-template *ngIf="_messagesNotifications | async; let _messagesNotifications" ngFor let-messageNotification
        let-i="index" let-first="first" [ngForOf]="_messagesNotifications">
        <message-notification-view *ngIf="messageNotification" class="app-user-notification-view"
            [messageNotification]="messageNotification">
        </message-notification-view>
    </ng-template>

    <ng-template *ngIf="_entityNotifications | async; let entityNotifications" ngFor let-entityNotification
        let-i="index" let-first="first" [ngForOf]="entityNotifications">
        <entity-notification-view *ngIf="entityNotification" class="app-user-notification-view"
            [entityNotification]="entityNotification">
        </entity-notification-view>
    </ng-template>

    <ng-template *ngIf="_entityAccessNotifications | async; let entityAccessNotifications" ngFor
        let-entityAccessNotification let-i="index" let-first="first" [ngForOf]="entityAccessNotifications">
        <entity-access-notification-view *ngIf="entityAccessNotification" class="app-user-notification-view"
            [entityAccessNotification]="entityAccessNotification">
        </entity-access-notification-view>
    </ng-template>
</div>