.app-message-thread-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // padding: 10px;
  margin: 0 0 0 10px;
}

.app-message-thread-header-title {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: center;
}

.app-message-thread-header-close {
  margin: 0 10px 0 0;
}
