.app-tool-edit-card {
  display: flex;
  flex-flow: column nowrap;
  margin: 40px;

  .app-tool-edit-card-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
  }

  .app-tool-edit-form-field {
    margin-bottom: 10px;
  }

  .app-tool-edit-form-actions {
    margin-top: 20px;
  }
}
