:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tool-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.tool-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 5px 25px 25px 25px;
  margin: 25px;

  .tool-card-top {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    // align-items: flex-start;

    .tool-card-left-container {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      width: 50%;
      min-height: 500px;

      .tool-card-prov-graph-panel {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        border: 1px solid #6c6c6c;
        height: 300px;

        > img {
          width: 300px;
        }
      }

      .tool-card-prov-graph-actions {
        display: flex;
        flex-flow: row nowrap;
        // justify-content: center;
        margin-top: 20px;
      }
    }

    .tool-metadata {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 20px;
      > span {
        margin-bottom: 7px;
      }

        .tool-metadata-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 4px;
        }

        .tool-metadata-description {
          margin-top: 30px;
        }

        .tool-metadata-row > mat-icon {
          margin-right: 10px;
        }
    }

    .tool-metadata > h1 {
      margin-top: 0px;
    }

    img {
      display: block;
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      align-self: center;
    }
}



  // .tool-description {
  //   padding-top: 20px;
  // }

  .tool-actions {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 40px;

    > a {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding: 0 10px;
      margin: 0 5px;
    }
  }

  // .tool-actions > button,
  //   a {
  //     margin-bottom: 10px;
  //   }
}

.tool-card > picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 25px;
}