<div *ngIf="!createNewTool; else showNewToolForm">
    <div class="app-primary-header">
            <h1>Tools</h1>
    </div>

    <div class="app-tool-list-content">
        <div class="app-tool-list-results">
            <tool-view *ngFor="let tool of tools | async" [tool]="tool"></tool-view>
        </div>
    </div>

    <div class="app-tool-list-actions">
        <a mat-raised-button color="primary" class="app-tool-list-new-tool" (click)="createNewTool=true" aria-label="Create a New Tool">Create a New Tool</a>
    </div>
</div>

<ng-template #showNewToolForm>
    <h1>[PLACEHOLDER] Create a New Tool</h1>
    <!-- <tool-new (NewTool)="onNewTool($event)" (close)="createNewTool=false"></tool-new> -->
    <a mat-raised-button color="warn" class="app-tool-list-new-tool-cancel" (click)="createNewTool=false" aria-label="Cancel">Cancel</a>
</ng-template>
