.app-notification-snackbar-info {
  .mat-simple-snackbar {
    > span {
      color: white;
    }
  }
  .mat-button {
    span {
      color: white;
    }
  }
}

.app-notification-snackbar-success {
  @extend .app-notification-snackbar-info;
  .mat-simple-snackbar {
    > span {
      color: #0f9d58;
    }
  }
}

.app-notification-snackbar-error {
  @extend .app-notification-snackbar-info;
  .mat-simple-snackbar {
    > span {
      color: #db4437;
    }
  }
}

.app-notification-snackbar-warning {
  @extend .app-notification-snackbar-info;
  .mat-simple-snackbar {
    > span {
      color: #f4b400;
    }
  }
}
